# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Parquet datasets
*.parquet
data_normalized/*.parquet

# Environments
.venv/
venv/
env/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
